---

###########
# GENERAL #
###########

dummy:
fetch_directory: ./ceph-ansible-keys
cluster: ceph # cluster name

mon_group_name: mons
mgr_group_name: mgrs
osd_group_name: osds
rgw_group_name: rgws
restapi_group_name: restapis
rbdmirror_group_name: rbdmirrors

centos_package_dependencies:
  - python-pycurl
  - hdparm
  - epel-release
  - python-setuptools
  - libselinux-python

ntp_service_enabled: false

bootstrap_dirs_owner: "167"
bootstrap_dirs_group: "167"

upgrade_ceph_packages: False

ceph_origin: repository
ceph_repository: custom
ceph_custom_repo: {{ ceph_custom_repo }}
ceph_stable_release: {{ ceph_stable_release }}


######################
# CEPH CONFIGURATION #
######################

generate_fsid: false
fsid: {{ fsid }}

monitor_secret: "{{ monitor_secret }}"
admin_secret: "{{ admin_secret }}"

cephx: true
max_open_files: {{ max_open_files }}

rbd_cache: "true"
rbd_cache_writethrough_until_flush: "true"
rbd_concurrent_management_ops: 20

monitor_interface: {{ monitor_interface }}

journal_size: {{ journal_size }}
public_network: {{ public_network }}
cluster_network: {{ cluster_network }}

#osd_objectstore: bluestore
osd_objectstore: filestore

osd_mkfs_type: xfs
osd_mkfs_options_xfs: -f -i size=2048
osd_mount_options_xfs: rw,noatime,nodiratime,inode64,logbsize=256k,delaylog

## REST API options
restapi_interface: {% raw %}"{{ monitor_interface }}"{% endraw %}

restapi_address: {% raw %}"{{ monitor_address }}"{% endraw %}

restapi_port: 5001

###################
# CONFIG OVERRIDE #
###################
ceph_conf_overrides:
    global:
      auth_cluster_required: cephx
      auth_service_required: cephx
      auth_client_required: cephx
      err_to_syslog: true
      mon_cluster_log_file: none
      debug_client: 0/0
      debug_auth: 0/0
      debug_finisher: 0/0
      debug_monc: 0/0
      debug_optracker: 0/0
      debug_rgw: 0/0
      debug_filer: 0/0
      debug_buffer: 0/0
      debug_timer: 0/0
      debug_asok: 0/0
      debug_objectcacher: 0/0
      debug_context: 0/0
      debug_tp: 0/0
      debug_journaler: 0/0
      debug_journal: 0/0
      debug_objecter: 0/0
      debug_lockdep: 0/0
      debug_heartbeatmap: 0/0
      debug_perfcounter: 0/0
      debug_throttle: 0/0
      debug_rbd: 0/0
      debug_rados: 0/0
      debug_ms: 0/0
      debug_crush: 0/0
      mon_osd_full_ratio: .90
      mon_osd_nearfull_ratio: .80
      osd_pool_default_min_size: 2
      osd_pool_default_size: 3
      osd pool default pg num : {{ osd_pool_default_pg_num }}
      osd pool default pgp num : {{ osd_pool_default_pg_num }}

#############
# OS TUNING #
#############
disable_transparent_hugepage: true
os_tuning_params:
  - { name: kernel.pid_max, value: 4194303 }
  - { name: fs.file-max, value: 26234859 }
  - { name: vm.zone_reclaim_mode, value: 0 }
  - { name: vm.swappiness, value: 10 }
  - { name: vm.vfs_cache_pressure, value: 10 }
  - { name: vm.min_free_kbytes, value: 1048576 }
  - { name: vm.dirty_ratio, value: 30 }
  - { name: vm.dirty_background_ratio, value: 3 }

  - { name: fs.xfs.xfssyncd_centisecs, value: 720000 }
  - { name: fs.xfs.xfsbufd_centisecs, value: 3000 }
  - { name: fs.xfs.age_buffer_centisecs, value: 720000 }
  - { name: fs.aio-max-nr, value: 50000000 }

  - { name: kernel.sysrq, value: 0 }
  - { name: kernel.pid_max, value: 4194303 }
  - { name: kernel.msgmax, value: 65535 }
  - { name: kernel.msgmnb, value: 65535 }

  - { name: net.core.rmem_default, value: 56623104 }
  - { name: net.core.wmem_default, value: 56623104 }
  - { name: net.core.rmem_max, value: 56623104 }
  - { name: net.core.wmem_max, value: 56623104 }
  - { name: net.core.optmem_max, value: 40960 }
  - { name: net.core.netdev_max_backlog, value: 50000 }
  - { name: net.core.somaxconn, value: 16384 }

  - { name: net.ipv4.tcp_timestamps, value: 0 }
  - { name: net.ipv4.tcp_syncookies, value: 0 }
  - { name: net.ipv4.tcp_sack, value: 1 }
  - { name: net.ipv4.tcp_max_syn_backlog, value: 30000 }
  - { name: net.ipv4.tcp_max_tw_buckets, value: 2000000 }
  - { name: net.ipv4.tcp_tw_recycle, value: 1 }
  - { name: net.ipv4.tcp_tw_reuse, value: 1 }
  - { name: net.ipv4.tcp_fin_timeout, value: 10 }
  - { name: net.ipv4.tcp_low_latency, value: 1 }
  - { name: net.ipv4.tcp_adv_win_scale, value: 1 }
  - { name: net.ipv4.tcp_slow_start_after_idle, value: 0 }
  - { name: net.ipv4.tcp_no_metrics_save, value: 1 }
  - { name: net.ipv4.tcp_syncookies, value: 0 }
  - { name: net.ipv4.tcp_ecn, value: 0 }
  - { name: net.ipv4.tcp_wmem, value: '4096 65536 56623104' }
  - { name: net.ipv4.tcp_rmem, value: '4096 87380 56623104' }
  - { name: net.ipv4.route.flush, value: 1 }


#############
# OPENSTACK #
#############
openstack_config: true

osd_pool_default_pg_num: {{ osd_pool_default_pg_num }}

openstack_config: true
openstack_glance_pool:
  name: "images"
  pg_num: {% raw %}"{{ hostvars[groups[mon_group_name][0]]['osd_pool_default_pg_num'] }}"{% endraw %}

  pgp_num: {% raw %}"{{ hostvars[groups[mon_group_name][0]]['osd_pool_default_pg_num'] }}"{% endraw %}

  rule_name: "replicated_rule"
  type: 1
  erasure_profile: ""
  expected_num_objects: ""
openstack_cinder_pool:
  name: "volumes"
  pg_num: {% raw %}"{{ hostvars[groups[mon_group_name][0]]['osd_pool_default_pg_num'] }}"{% endraw %}

  pgp_num: {% raw %}"{{ hostvars[groups[mon_group_name][0]]['osd_pool_default_pg_num'] }}"{% endraw %}

  rule_name: "replicated_rule"
  type: 1
  erasure_profile: ""
  expected_num_objects: ""
openstack_nova_pool:
  name: "vms"
  pg_num: {% raw %}"{{ hostvars[groups[mon_group_name][0]]['osd_pool_default_pg_num'] }}"{% endraw %}

  pgp_num: {% raw %}"{{ hostvars[groups[mon_group_name][0]]['osd_pool_default_pg_num'] }}"{% endraw %}

  rule_name: "replicated_rule"
  type: 1
  erasure_profile: ""
  expected_num_objects: ""
openstack_cinder_backup_pool:
  name: "backups"
  pg_num: {% raw %}"{{ hostvars[groups[mon_group_name][0]]['osd_pool_default_pg_num'] }}"{% endraw %}

  pgp_num: {% raw %}"{{ hostvars[groups[mon_group_name][0]]['osd_pool_default_pg_num'] }}"{% endraw %}

  rule_name: "replicated_rule"
  type: 1
  erasure_profile: ""
  expected_num_objects: ""
openstack_gnocchi_pool:
  name: "gnocchi"
  pg_num: {% raw %}"{{ hostvars[groups[mon_group_name][0]]['osd_pool_default_pg_num'] }}"{% endraw %}

  pgp_num: {% raw %}"{{ hostvars[groups[mon_group_name][0]]['osd_pool_default_pg_num'] }}"{% endraw %}

  rule_name: "replicated_rule"
  type: 1
  erasure_profile: ""
  expected_num_objects: ""

openstack_pools:
  - {% raw %}"{{ openstack_glance_pool }}"{% endraw %}

  - {% raw %}"{{ openstack_cinder_pool }}"{% endraw %}

  - {% raw %}"{{ openstack_nova_pool }}"{% endraw %}

  - {% raw %}"{{ openstack_cinder_backup_pool }}"{% endraw %}

  - {% raw %}"{{ openstack_gnocchi_pool }}"{% endraw %}



# The value for 'key' can be a pre-generated key,
# e.g key: "AQDC2UxZH4yeLhAAgTaZb+4wDUlYOsr1OfZSpQ=="
# By default, keys will be auto-generated.

openstack_keys:
  - {% raw %}{ name: client.glance, caps: { mon: "profile rbd", osd: "profile rbd pool=volumes, profile rbd pool={{ openstack_glance_pool.name }}"}, mode: "0600" }{% endraw %}

  - {% raw %}{ name: client.cinder, caps: { mon: "profile rbd", osd: "profile rbd pool={{ openstack_cinder_pool.name }}, profile rbd pool={{ openstack_nova_pool.name }}, profile rbd pool={{ openstack_glance_pool.name }}"}, mode: "0600" }{% endraw %}

  - {% raw %}{ name: client.cinder-backup, caps: { mon: "profile rbd", osd: "profile rbd pool={{ openstack_cinder_backup_pool.name }}"}, mode: "0600" }{% endraw %}

  - {% raw %}{ name: client.gnocchi, caps: { mon: "profile rbd", osd: "profile rbd pool={{ openstack_gnocchi_pool.name }}"}, mode: "0600", }{% endraw %}

  - {% raw %}{ name: client.openstack, caps: { mon: "profile rbd", osd: "profile rbd pool={{ openstack_glance_pool.name }}, profile rbd pool={{ openstack_gnocchi_pool.name }}, profile rbd pool={{ openstack_nova_pool.name }}, profile rbd pool={{ openstack_cinder_pool.name }}, profile rbd pool={{ openstack_cinder_backup_pool.name }}"}, mode: "0600" }{% endraw %}

  - {% raw %}{ name: client.nova, caps: { mon: "profile rbd", osd: "profile rbd pool={{ openstack_glance_pool.name }}, profile rbd pool={{ openstack_nova_pool.name }}, profile rbd pool={{ openstack_cinder_pool.name }}, profile rbd pool={{ openstack_cinder_backup_pool.name }}"}, mode: "0600" }{% endraw %}

