{
    "command": "ceilometer-polling --polling-namespaces compute",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/ceilometer.conf",
            "dest": "/etc/ceilometer/ceilometer.conf",
            "owner": "ceilometer",
            "perm": "0600"
        }{% if ceilometer_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ ceilometer_policy_file }}",
            "dest": "/etc/ceilometer/{{ ceilometer_policy_file }}",
            "owner": "ceilometer",
            "perm": "0600"
        }{% endif %},
        {
            "source": "/var/lib/kolla/config_files/polling.yaml",
            "dest": "/etc/ceilometer/polling.yaml",
            "owner": "ceilometer",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/pipeline.yaml",
            "dest": "/etc/ceilometer/pipeline.yaml",
            "owner": "ceilometer",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/gnocchi_resources.yaml",
            "dest": "/etc/ceilometer/gnocchi_resources.yaml",
            "owner": "ceilometer",
            "perm": "0600"
        }{% if nova_compute_virt_type == "vmware" and not vmware_vcenter_insecure | bool %},
        {
            "source": "{{ container_config_directory }}/vmware_ca",
            "dest": "/etc/ceilometer/vmware_ca",
            "owner": "ceilometer",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/ceilometer",
            "owner": "ceilometer:ceilometer",
            "recurse": true
        }
    ]
}
